/* barra de rolagem */
::-webkit-scrollbar {
    width: 0.3em;
}
::-webkit-scrollbar-track {
    background: #0c0c0c;
}
::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1a1a1a;
}

.stDataframe {
    border-bottom: 0px;
}

.stDownloadButton {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 0px;
}