/* barra de rolagem */
::-webkit-scrollbar {
    width: 0.3em;
}
::-webkit-scrollbar-track {
    background: #0c0c0c;
}
::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1a1a1a;
}

.stDataframe {
    border-bottom: 0px;
}

.stDownloadButton {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 1em;
    margin-bottom: 0px;
    padding: 0px 0px; /* Aumenta o preenchimento do botão */
    border-radius: 0px; /* Adiciona bordas arredondadas */
}

.custom-title {
    font-size: 2.8rem;
    color: #ffffff;
    margin-bottom: 0.4em;
}

.about-project {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom:1.3em;
}

a {
    color: #DAA520 !important;
    text-decoration:underline; 
}

a:hover {
    color: rgba(235, 178, 34, 0.829) !important;
    text-decoration:none; 
}

h2 { /* h2 = st.header*/
    margin-bottom: 0rem; /* Ajusta o espaçamento inferior */
}