/* barra de rolagem */
::-webkit-scrollbar {
    width: 0.3vw;
}
::-webkit-scrollbar-track {
    background: #0c0c0c;
}
::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1a1a1a;
}
/* término */

.stDataframe {
    margin-bottom: 0px;
}

.stDownloadButton {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 1em;
    margin-bottom: 0px;
    padding: 0px 0px; 
    border-radius: 0px;
}

.custom-title {
    font-size: 7.5vh;
    color: #ffffff;
    margin-bottom: 0.4em;
}

.about-project {
    font-size: 3vh;
    color: #ffffff;
    margin-bottom:1.3em;
    text-align: justify;
}

a {
    color: #DAA520 !important;
    text-decoration:underline; 
}

a:hover {
    color: rgba(235, 178, 34, 0.829) !important;
    text-decoration:none; 
}

h2 { 
    margin-bottom: 0rem; 
}

p {
    text-align: justify;
    font-size: 3vh !important;
    margin-bottom: 4vh;
}
/* legendas */
.legends {
    font-size: 2.7vh !important; /* Ajusta o tamanho da fonte */
    color: #888888; /* Define a cor do texto */
    font-style: italic; /* Define o estilo da fonte como itálico */
    opacity: 0.8;
    margin-top: 0%;
    margin-bottom: 0%; /* Define a opacidade */
}
/* footer */

.footer{
    display: flex;
    justify-content: center;
}
/* Personalizar o fundo da barra lateral */
[data-testid="stSidebar"] {
    background: linear-gradient(180deg, #111111, #111111); /* Gradiente de cima para baixo */

}